<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <title>购物车</title>
</head>

<body>
    <div class="container" id="app">
        <div class="row">
            <template v-if="goods.length==0">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>购物车空空如也</p>
                    </div> 
        </div>
    </template>
<template v-else>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">购物车</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input v-model="allChecked" @click="selectAll" type="checkbox"></th>
                            <th>商品名称</th>
                            <th>商品单价</th>
                            <th>购买数量</th>
                            <th>小计</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(v,k) in goods">
                            <td><input type="checkbox"></td>
                            <td>{{v.name}}</td>
                            <td>{{v.price}}</td>
                            
                            <td>
                                <button @click="reduce(k)">-</button><input type="text" v-model="v.num"
                                    style="width:30px;text-align:center">
                                <button @click="plus(k)">+</button></td>
                                <td>{{v.price*v.num}}</td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <button @click="del(k)" type="button" class="btn btn-danger">删除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer" style="text-align:right">
                共计<span>{{totalPrice}}</span>元
            </div>
        </div>
        </template>
    </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    goods: [
                        { id: 1, name: "华为 HUAWEI P30 超感光徕卡三摄麒麟", price: 1999, num: 1 },
                        { id: 2, name: "华为新品 nova 3全面屏高清四摄游戏手机", price: 2499, num: 1 },
                        { id: 3, name: "OPPO Reno 10倍变焦版8G+256G 雾海绿", price: 4799, num: 1 },
                        { id: 4, name: "荣耀20i 3200万AI自拍 超广角三摄 ", price: 2399, num: 1 },
                        { id: 5, name: "努比亚 nubia X 双面屏 深空灰 8GB+128GB ", price: 3499, num: 1 },
                        { id: 6, name: "小米8SE 全面屏智能游戏拍照手机", price: 1999, num: 1 },
                        { id: 7, name: "黑鲨游戏手机2 8GB+128GB 暗影黑", price: 2399, num: 1 },
                        { id: 8, name: "荣耀V20麒麟980芯片 魅眼全视屏", price: 3999, num: 1 },
                        { id: 9, name: "联想Z5 6GB+64GB 舒曼黑 6.2英寸全面屏双摄", price: 3499, num: 1 },
                        { id: 10, name: "Apple iPhone 8 (A1863) 64GB 深空灰色 ", price: 3799, num: 1 },
                    ],
                    //控制全选
                    allChecked:true,
                    //商品数据选中
                    allSelectData:[],
                }
            },
            methods: {
                //增加
                plus(k) {
                    this.goods[k].num++;
                },
                //减少
                reduce(k) {
                    this.goods[k].num--;
                    if (this.goods[k].num == 0) {
                        this.goods.splice(k, 1);
                    }
                },
                //删除
                del(k) {
                    this.goods.splice(k, 1);
                },
                //控制全选
                selectAll(){
                    if(!event.currentTarget.checked){//如果没有选中
                    //取消全选
                    this.allSelectData=[];
                    }else{
                        //全选
                        this.goods.forEach((v,k)=>{
                            this.allSelectData.push(v.id);
                        })
                    }
                }
                
            },
            //计算属性
            computed:{
                totalPrice(){
                    var total=0;
                    this.goods.forEach((v,k) => {
                        total+=v.num*v.price;
                    })
                    return total;
                }
            }

        })
    </script>
</body>

</html>